@charset "UTF-8";



/*----------------------------Lista com Imagens-------------------------------------------*/
#fa{
    list-style-image: url(../img/ti/SitesMega.jpg);
 }   

#bradesco{
    list-style-image: url(../img/ti/siteFBradesco.jpg);
}

#forshared{
   list-style-image: url(../img/ti/site4Shared.png);
}

#mega{
   list-style-image: url(../img/ti/SitesMega.jpg);
}    

#lojaMecanico{
    list-style-image: url(../img/ti/siteLojaMecanico.jpeg);
 }    
 

/*
#ListaSempre {
    list-style: none;
    position: relative;
  /*  left: 26%; 

}*/
/*
#ListaSempre li {
    float: left;
    padding: 0px 5px 0px 15px;

}*/