@charset "UTF-8";

body{/*Configuracao Geral da pagina 960*/
	width: 960px;
	/*background-color: rgba(39, 14, 185, 0.473);*/
	margin: auto;
	/*background: url("../img/body.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed; /*Fixar a Imagem*/
	background-size: 100%;
}

span{ /*Configuracao Geral da pagina */
	color: rgba(43, 13, 216, 0.603);
}

section, footer { /*Configuracoes padroes iguais em todas estas */
	background-color: rgb(210, 224, 215); /* rgba(112, 204, 140, 0.651);	- (210,224,215)*/
	border-radius: 10px;
	/*border: 1px solid;*/
}

.top{
	width: 60px;
	height: 60px;
	display: block;
	background: url('../img/top.png') no-repeat;
	position: fixed;
	bottom: 0;
	right: 20px;
}

.top:hover{
	cursor:pointer;
	background-position: 0 -60px;
}



/*-------------------------------------------- HEADER --------------------------------------------*/
header{ /*Configuracao do Cabecalho Principal */
	height: 100px;
	padding: 0px;
	margin: 15px 0px 0px 0px;
}

header img { /*Configuracao da Imagen da secao -- tirar*/
	width: 960px;
	border-radius: 10px;
	float: left;
	position: relative;
}

#b1{
	position: relative;
	left:0px;
	top:0px;
}

#b2{
	position: relative;
	left:0px;
	top:-100px;
}

#b3{
	position: relative;
	left:0px;
	top:-200px;
}

#b4{
	position: relative;
	left:0px;
	top:-300px;
}

#b5{
	position: relative;
	left:0px;
	top:-400px;
}

#b6{
	position: relative;
	left:0px;
	top:-500px;
}
/*-------------------------------------------- NAV --------------------------------------------*/
nav{ /*Configuracao do Menu Geral Esquerdo*/
	height: auto;
	width: 155px;
	margin: -500px 15px 15px -10px;
	padding: 10px;
	float: left;
}

/*Configurações Padrões*/
ul.menu, .menu li, .menu a{ /*Modificacoes do menu principal*/
	margin:0;
	padding:0; 
	list-style:none; 
	text-decoration:none;
	border-radius: 15px;
	
}

ul.menu ul{ 
	position:absolute; 
	display:none; 
	box-shadow:3px 3px 2px #333;
	
}
 
/* Configurações nivel 1*/
ul.menu{ 
	float:left; 
	font-family:Verdana, Geneva, sans-serif; 
	font-size:15px;	
	border-radius:15px; 
	padding:-10px;
	width: 180px;	
}

.menu li{ 
	float:left; 
	width:auto; 
	position:relative;
}

.menu li a{ 
	display:block; 
	padding:0 20px; 
	line-height:45px; 
	height:45px; 
	float:left; 
	transition:all 0.2s linear; 
}
 
/* Configurações nivel 2*/
.menu li:hover > ul.submenu-1{ 
	display:block; 
	top:0px; 
	left:160px; 
	padding:0px;
	width:200px; 
	border-radius:15px;			/*0 0 5px 5px; */
	float: left;	
}

 ul.menu a{  /*Menu Principal*/
	width:130px; 
	padding:0 20px; 
	border-radius:15px;  
}


.menu ul.submenu-1 a{  /*Exemplo para o primeiro menu*/
	width:160px; 
	padding:0 20px; 
	border-radius:15px;  
}
 
/* Configurações nivel 2*/
.menu li:hover > ul.submenu-2{ 
	display:block; 
	top:0; 
	left:195px; 
	padding:0px; 
	width:200px;  
	border-radius: 15px; /*0 5px 5px 5px; */
}

.menu ul.submenu-2 a{  
	width:180px; 
	padding:0 20px; 
	border-radius:15px;
}
 
/* Configurações nivel 3*/
.menu li:hover > ul.submenu-3{ 
	display:block; 
	top:0; 
	left:195px; 
	padding:0px; 
	width:200px;  
	border-radius:15px;	/* 0 5px 5px 5px; */
}

.menu ul.submenu-3 a{ 
	width:160px; 
	padding:0 20px; 
	border-radius:15px;
}
 
 
/*Configurações de cores*/
 
/*nivel 1*/
.menu{
	background:  rgb(210, 224, 215);/*#96858f;   /*;#CCC*/
}

.menu a{ 
	color: #000;/*#000*/
}

.menu li:hover > a{ /*Muda cor do menu principal ao passar o mouse*/
	background:	#6d7993;  /*#999  */
	color:#fff;
}
 
/*nivel 2*/
.submenu-1{ 
	background:#6d7993; /*#b6a19e; /*#999*/
}

.submenu-1 a{
	color:#fff;
}

.submenu-1 li:hover > a{ 
	background:	#969585;	/*#a7b3a5; /*#666*/
}
 
/*nivel 3*/
.submenu-2{ 
	background:#969585; /*#a7b3a5; /*#9099a2; /*#666*/
}

.submenu-2 a{
	color:#fff;
}

.submenu-2 li:hover > a{ 
	background:#85968c; /* #9099a2;/*#d5d5d5; /*#333*/
}
 
/*nivel 4*/
.submenu-3{ 
	background:	#85968c;	/*#9099a2; /*#333*/
}

.submenu-3 a{
	color:#fff;
}

.submenu-3 li:hover > a{ 
	background: #96858f;  /*#000; */
}
 
/*-------------------------------------------- SECTION -------------------------------------------*/ 
section{ /*Configuracao do conteudo da pagina*/
	height: auto;
	width: 750px;
	margin: -490px 0px 15px 0px;
	padding: 10px;
	float: right;
}

section h1{
	margin: 10px 10px 10px 10px;
	font-size: 45px;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	color: #053c80;
	text-align: justify;
	text-indent: 0px;
}

section h2{
	margin: 10px 10px 10px 10px;
	font-size: 35px;
	font-family: 'Times New Roman', Times, serif;
	color: darkcyan;
	text-indent: 20px;
}

section h3{	
	margin: 10px 10px 10px 10px;
	font-size: 25px;
	font-family: Arial, Helvetica, sans-serif;
	color: darkgreen;
	text-indent: 40px;
}

section h4{
	margin: 10px 10px 10px 10px;
	font-size: 25px;
	color: maroon;
	text-indent: 60px;
	font-family: 'Courier New', Courier, monospace;
}

section p{
	margin: 5px;
	padding:2px;
	text-align: justify;
	text-indent: 40px;
	color:midnightblue;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#h1titulo{
	text-align: center;
	color: #ac0815;
	font-size: 80px;
}

ul{
	font-family: courier,arial,helvetica;
	color: #053c80;
	font-size: 18px;
	list-style-type: circle;
}

a:link{ /* Links para paginas sem ter clicado*/
	color:#053c80 ;
}

a:visited{ /* Links ja clicados*/
	color: darkgreen;
}

a:hover{/* quando passar o mouse em cima do link*/
	color:lightcoral;
}

a:active{/* quando clicar no link*/
	color:indigo;
}

div#Filmediv{/* parte de fundo dos videos*/
	width: 750px;
	height: 512px;
	margin: auto;
	background: url('../img/CapaVideo.png') no-repeat;
}
iframe#videos{/* os videos*/
	display: block;
	position: relative;
	left: 26px;
	top: 24px;
	width: 699px;
	height: 390px;
}

/*--Configuracao manuais-*/

#inicionofim{
	text-decoration: none;
	margin: 0%;
}

/*-------------------------------------------- FOOTER --------------------------------------------*/
footer{ /*Configuracao do Rodape da pagina*/
	height: 60px;
	width: 940px;
	margin: 0px 0px 15px 0px;
	float: left;
	padding: 10px;
}

footer h4{
	margin:0px 0px 0px 0px;
	padding:0;
	text-align: center;	
}

footer a{
	text-decoration: none;
}

#RodapeUL {
	list-style:none;
	position: relative;
	left: 26%;	
}

#RodapeUL li {
	float: left;
	padding: 0px 5px 0px 15px;
}